  <div class="dropdown pull-right navatar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{user.profile.name}}</span>
      <img modit-thumb="user" thumb-size="25" right>
    </a>
    <ul class="dropdown-menu">
      <li><a href="https://support.mod.it" target="_blank">Help</a></li>
      <!-- <li><a href="//{{API_HOST}}/auth/logout?redirect={{origin}}" target="_self">Sign out</a></li> -->
      <li><a href="//{{API_HOST}}/api/v1/logout?redirect={{origin}}" target="_self">Sign out</a></li> 
    </ul>
  </div>